{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <img src="https://www.keaircompressor.com/images/nsimg.jpg" width="1260" height="200" alt="banner_sitestroy.gif" title="Банер" border="0" />
    <div class="container mx-auto mt-4">
  <div class="row justify-content-center">
<div class="card">
  <div class="card-img">
    <img class="card-img" src="https://motherboardsnyc.hoop.la/displayAvatar/user/189451354778500586/fod/189451354778505034/imageType/LARGE/189451354778500586avatar" alt="">
    <div class="overlay">
      <div class="overlay-content">
        <a href="">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-content">
      <h2>Новость №3123. Исправление ошибок</h2>
      <p>Исправление ошибок и багов, возникающие при создании пользователя</p>
  </div>
</div>
<div class="card">
  <div class="card-img">
    <img class="card-img" src="https://sun6-23.userapi.com/s/v1/if1/vg5j6KQIbtHV0NxEI-iMrD8X41ES_RZe8JH6JnlECCX02G4si-WGZ7wXDsaEJGE6qwKk7s0N.jpg?size=700x1000&quality=96&crop=0,0,700,1000&ava=1" alt="">
    <div class="overlay">
      <div class="overlay-content">
        <a href="">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-content">
      <h2>Понижение цены от 10.12.2023</h2>
      <p>Цены понижены на 10%</p>
  </div>
</div>
  </div>
   </div>
{% endblock %}   


