{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <img src="https://www.keaircompressor.com/images/nsimg.jpg" width="860" height="140" alt="banner_sitestroy.gif" title="Банер" border="0" />
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Новостной блог</h2>
        <p class="blog-post-meta">10 декабря, 2023 добавлен <a href="#">Alexandr</a></p>
        <p>В данном блоке будут отображаться новости и изменения на сайте.</p>
          <hr>
        <h2>Начало</h2>
        <p>Дата создания сайта 10.12.2023</p>
        <h3>Имеющиеся функции с комиксами:</h3>
          <ul>
          <li>Добавление манги</li>
          <li>Изменение манги</li>
          <li>Удаление манги</li>
        </ul>
        <h3>Функции с пользователями:</h3>
        <ol>
          <li>Регистрация</li>
          <li>Вход в аккаунт</li>
          <li>Ограничение доступа, без аккаунта</li>
        </ol>
        <h2>Праздники!</h2>
        <p>День создания сайта 10.12.2023</p>
      </article>
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
      </nav>
    </div>
    <div class="container mx-auto mt-4">
  <div class="row justify-content-center">
<div class="card">
  <div class="card-img">
    <img class="card-img" src="https://motherboardsnyc.hoop.la/displayAvatar/user/189451354778500586/fod/189451354778505034/imageType/LARGE/189451354778500586avatar" alt="">
    <div class="overlay">
      <div class="overlay-content">
        <a href="">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-content">
      <h2>Новость №3123. Исправление ошибок</h2>
      <p>Исправление ошибок и багов, возникающие при создании пользователя</p>
  </div>
</div>
<div class="card">
  <div class="card-img">
    <img class="card-img" src="https://sun6-23.userapi.com/s/v1/if1/vg5j6KQIbtHV0NxEI-iMrD8X41ES_RZe8JH6JnlECCX02G4si-WGZ7wXDsaEJGE6qwKk7s0N.jpg?size=700x1000&quality=96&crop=0,0,700,1000&ava=1" alt="">
    <div class="overlay">
      <div class="overlay-content">
        <a href="">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-content">
      <h2>Понижение цены от 10.12.2023</h2>
      <p>Цены понижены на 10%</p>
  </div>
</div>
  </div>
   </div>
{% endblock %}   


